* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

img {
	vertical-align: bottom
}

.olivine {
	position: relative;
	width: 800px;
	.item-wrap {
		position: relative;
		margin: 0 50px;
		width: 700px;
		height: 200px;
		overflow: hidden;
		.item {
			position: absolute;
			top: 0;
			left: 0;
			li {
				width: 700px;
				float: left;
				a {
					
				}
			}
		}
	}
	.nav {
		.prev {
			position: absolute;
			top: 40%;
			left: 10px;
		}
		.next {
			position: absolute;
			top: 40%;
			right: 10px;
		}
	}
}